
#header_navbar{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
    background-color: lightgray;
    list-style: none;
}

#header_navbar a {
    text-decoration: none;
 
}

li {
    margin: 10px;
    font-size: large;
}

#welcome-section {
    text-align: center;
    margin-top: 10px;
}

.prj-list {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-content: space-around;
    
}

@media (min-width:1200px) {
    .project-title {
        width: 30vw;
        height: 50vh;
    }    
}

@media (max-width:1000px) {
    .project-title {
        width: 40vw;
        height:25vw;
    }
}

img {
    width: 90%;
    height: 80%;
}

.project-title p {
    text-align: center;
}

#prj-navbar {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    justify-content: center;
}

#profile-link {
    text-align: center;
}

ul#profile-link {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

ul#profile-link a {
    text-decoration: none;
}